@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}


body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.container{
    display:flex;
    width:90vw;

}

.panel{
    background-size: auto 120%;
    background-position: center;
    background-repeat: no-repeat;
    height:80vh;
    flex:0.5;
    margin:10px;
    border-radius:50px;
    /* box-shadow:inset 0 0 0 5px rgba(255,255,255,0.2),0 25px 50px rgba(0,0,0,0.2); */
    cursor:pointer;
    transition: flex 0.7s ease-in;
    /* transition: background-size 0.7s ease-in; */
    color:#fff;
    position:relative;

}

.panel h3{
    position:absolute;
    bottom:20px;
    left:20px;
    opacity:0;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
    transition:opacity 0.3s ease-in 0.4s;
}

.panel.active{
    flex:5;
    /* background-size: auto 110%; */
    
}

.panel.active h3{
    opacity:1;
    
}

@media (max-width:480px){
    .container{
        width:100vw;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5){
        display:none;
}
}