

*{
    box-sizing:border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(90deg,#7d5fff,#7158e2);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin:0;
}

.search{
    position: relative;
    height:50px;

}

.search .input{
    background-color: #fff;
    font-size: 18px;
    padding: 15px;
    height:50px;
    width:50px;
    border:0px;
    transition: width 0.3s ease;
}
.search .input:focus{
    outline:none;
}
.search .btn{
    background-color: #fff;
    position:absolute;
    font-size: 24px;
    padding: 12px;
    top:0px;
    left:0px;
    border: 0px;
    height:50px;
    transition: transform 0.3s ease;
}

.search.active .input{
    width:200px;
}

.search.active .btn{
    transform: translateX(198px);
}